.uploadPost {
    .error {
        margin-bottom: 1.8rem;
    }
    max-width: 48rem;
    margin: 0 auto;
    padding: 2rem 1.5rem;
    .header {
        margin-bottom: 1.8rem;
        h1 {
            text-align: center;
            width: 100%;
        }
    }

    .body {
    }

    .form {
        .formGroup {
        }

        .formItem {
            margin-bottom: 1.8rem;
        }
    }
}
